<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Profesional: {{ profesional.nombre }}</h3>
            <p class="text-muted m-b-30 font-13"> Información del Profesional </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarProfesional(f)">
                        <div class="form-group">
                            <label>Nombre </label>
                            <input [(ngModel)]="profesional.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre de Profesional" required>
                        </div>
                        <div class="form-group">
                            <label>Apellido </label>
                            <input [(ngModel)]="profesional.apellido" name="apellido" type="text" class="form-control" placeholder="Apellido de Profesional" required>
                        </div>
                        <div class="form-group">
                            <label>Clínica</label>
                            <select (change)="cambioClinica( $event.target.value )" [(ngModel)]="profesional.clinica" name="clinica" class="form-control" required>
                              <option value="">Seleccione clínica</option>
                              <option *ngFor="let clinica of clinicas" [value]="clinica._id">{{ clinica.nombre }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Profesión</label>
                            <select (change)="cambioProfesion( $event.target.value )" [(ngModel)]="profesional.profesion" name="profesion" class="form-control" required>
                              <option value="">Seleccione profesión</option>
                              <option *ngFor="let profesion of profesiones" [value]="profesion._id">{{ profesion.nombre }}</option>
                            </select>
                        </div>
                        <div *ngIf="this.profesion" class="form-group">
                            <label>Especialidades</label>
                            <div class="list-group">
                                <button type="button" *ngFor="let especialidad of this.profesion.especialidades" [ngClass]="{'active': (profesional.especialidades.indexOf(especialidad._id)>-1)}" (click)="CambioEspecialidad(especialidad._id)" class="list-group-item list-group-item-action pointer">{{ especialidad.nombre }}</button>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> <i class="fa fa-save"></i> Guardar</button>
                        <a [routerLink]="'/profesionales'" class="btn btn-inverse waves-effect waves-light">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Clínica</h4>
            <img [src]="clinica.img | imagen : 'clinica'" class="rounded img-fluid">
        </div>
    </div>
    <div class="col-md-3" *ngIf="profesional._id">
        <div class="card card-body">
            <h4 class="box-title m-b-0">Imagen</h4>
            <img (click)="cambiarFoto()" [src]="profesional.img | imagen: 'profesional'" class="img-circle img-fluid pointer">
        </div>
    </div>
</div>